<p><%=l @meeting.datum, :format => "%A %e. %B %Y, ab %H:%M Uhr" -%></p>

<div id="banner" style="text-align:center">
	<img src="/assets/images/<%= @meeting.banner -%>" style="max-width:100%" />
</div>

<p><%=raw @meeting.info -%></p>

Zum Formular für
<%= link_to "Einzelathleten", { :action => :anmeldung } %>
oder
<%= form_tag url_for({ :action => :anmeldung }), { :method => :get, :class => "verein-form" } do -%>
    <%= label_tag(:verein, "Verein") %>
    <%= text_field_tag(:verein) %>
    <%= submit_tag("Weiter") %>
<%- end -%>
